//- # _footer.jade

//- This is a reusable fragment to be used on all pages in the app.

footer.site-footer
  ul.site-footer__nav
    li.site-footer__credit(role="contentinfo")
      | Created with love and bear hugs by
      a(href='http://lengstorf.com/') Jason Lengstorf
    li.site-footer__links(role="navigation" aria-label="Developer Links")
      | Learn:
      a(href='http://git.io/vThzh') Documentation
      |  |
      a(href='http://git.io/vThgO') Source Code
