extends ../layouts/default

block content
  h1 Supercharge Your Front-End Workflow!
  p.
    This site is a collection of examples to give you an idea of what's
    possible with modern tools.
  p.
    The goal of this site is to show off task automation, pre- and
    post-processing of scripts and stylesheets, image optimization, and the
    setup of annoying tasks — all automatically.

  h2 What We'll Be Doing in This Workshop
  p In today's workshop, we're going to accomplish five key things:
  ol
    li Set up Gulp to automatically perform tasks the right way, every time
    li Use PostCSS to add more power to (and remove hassles from) our CSS
    li Implement automatic JavaScript style guide enforcement with JSCS
    li Optimize images using imagemin
    li Use nodemon to power a simple server for local development

  h2 Examples
  p Examples are broken up into four categories:

  .section
    h3.section__headline
      a(href="/automation/") Automation
    p.section__excerpt.
      Task automation is one of the best ways to make sure that the little
      things are always done, and done properly.
    p.section__see-examples
      a.section__link(href="/automation/") See examples

  .section
    h3.section__headline
      a(href="/styles/") Stylesheets
    p.section__excerpt.
      Using pre- and post-processing for stylesheets adds a huge amount of extra
      power to your style workflow: future-CSS syntax, nested selectors, mixins,
      and more.
    p.section__see-examples
      a.section__link(href="/styles/") See examples

  .section
    h3.section__headline
      a(href="/scripts/") Scripts
    p.section__excerpt.
      JavaScript linting, minification, concatenation, and other pre-processing
      can help avoid a large number of production headaches.
    p.section__see-examples
      a.section__link(href="/scripts/") See examples

  .section
    h3.section__headline
      a(href="/images/") Images
    p.section__excerpt.
      Compressing and optimizing images can help reduce page load times
    p.section__see-examples
      a.section__link(href="/images/") See examples
